{% extends "base.twig" %}

{% block content %}
  <div class="l-container">
    {% for post in posts %}
      {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
    {% endfor %}
  </div>
{% endblock %}

