<article class="Tease Tease-{{post.post_type}}" id="tease-{{post.ID}}">
	<h2 class="Tease-title"><a href="{{post.link}}">{{post.title}}</a></h2>
	<p>{{post.get_preview}}</p>
	{% if post.get_thumbnail %}
		<img src="{{post.thumbnail.src}}" />
	{% endif %}
</article>
